main {
    width: 100%;
    height: 700px;
    text-align: center;
}

.fullpage {
    width: 93.5%;
    height: 700px;
    display: inline-block;
    background-image: url("../img/Emersonbackgroundimg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icons {
    display: flex;
    float: right;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
    background-color: purple;
    width: 6%;
}

.navigation-menu {
    width: 1135px;
    height: 80px;
    text-align: center;
    display: inline-block;
}

.nav-uppercase-titles {
    float: left;
    width: 65%;
    height: 100%;
}

.nav-lowercase-titles {
    float: right;
    width: 30%;
    height: 100%;

}

.left-menu>li {
    display: inline-block;
    text-decoration: none;
    font-family: "Avenir Next Var", "Lucida Grande", Helvetica, sans-serif;
    font-size: 16px;
    height: 70px;
    line-height: 4;
    margin-right: 20px;
    color: white;
}

.right-menu>li {
    display: inline-block;
    text-decoration: none;
    font-family: "Avenir Next Var", "Lucida Grande", Helvetica, sans-serif;
    font-size: 13px;
    height: 70px;
    line-height: 4;
    margin-right: 20px;
    color: white
}

main>hr {
    margin-left: 90px;
    margin-right: 80px;
}

.left-section {
    width: 40%;
    height: 100%;
    text-align: left;
    margin-left: 85px;
    display: block;

}


section>h1 {
    font-size: 40px;
    font-family: "Avenir Next Var", "Lucida Grande", Helvetica, sans-serif;
    color: white;
    float: left;
    margin: 60px 0px 120px 
    
}

section>h2{
    font-size: 13px;
    font-family: "Avenir Next Var", "Lucida Grande", Helvetica, sans-serif;
    color: white;
    float: left;
    line-height: 1.4;
    margin: 0px;
}


section>h3 {
    font-size: 36px;
    font-family: "Bauer Bodoni", "Times New Roman", serif;
    font-weight: 400;
    color: white;
    float: left;
    width: 400px;
    height: 104px;
    margin: 0px;
}


.link-to-apply>a {
    font-family: "Avenir Next Var", "Lucida Grande", Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    float: left;
}

.rigth-bottom-section {
    width: 427px;
    height: 160px;
    text-align: right;
    padding: 20px 20px 20px 20px;
    display: flex;
    float: right;
}


.rigth-bottom-section>img {
    float: left;
}

.rigth-bottom-section>span {
    font-family: "Avenir Next Var", "Lucida Grande", Helvetica, sans-serif;
    color: #474747;
    font-weight: 700;
    width: 200px;
    height: 14px;
    float: right;
    margin-top: 10px;
    text-align: left;
}

.rigth-bottom-section>a {
    font-family: "Avenir Next Var", "Lucida Grande", Helvetica, sans-serif;
    color: #474747;
    font-weight: 400;
    float: left;
    width: 232px;
    height: 200px;
}


.socialmedia-links a {
    justify-content: space-around;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.socialmedia-links img {
    width: 20px;
    height: 20px;
}
.search-menu img {
    width: 20px;
    height: 20px; 
}

.arrow img {
    width: 20px;
    height: 20px;
}